<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554573927618-m42v1gakcrlms547b5nvqog1jvl5qlin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554573927618-m42v1gakcrlms547b5nvqog1jvl5qlin</string>
	<key>API_KEY</key>
	<string>AIzaSyBepaX5lWFi-38cb4EYZeXoRTSlqXtipnE</string>
	<key>GCM_SENDER_ID</key>
	<string>554573927618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webike.app</string>
	<key>PROJECT_ID</key>
	<string>webike-70e5e</string>
	<key>STORAGE_BUCKET</key>
	<string>webike-70e5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554573927618:ios:45fbcbd781d194044f975b</string>
	<key>DATABASE_URL</key>
	<string>https://webike-70e5e-default-rtdb.firebaseio.com</string>
</dict>
</plist>